div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 CLIENTES
.container
  .row
    .col-lg-12
      ul.nav.nav-pills.consumidores(ng-repeat='consumidor in consumidores')
        li(ng-class='{active: consumidor.selected}')
          a(ng-click='seleccionar(consumidor)') {{consumidor.nombre}}
          input(type='submit', ng-show='consumidor.selected', ng-click="pedir(consumidor)", value='Pedido')

footer.footer
  .container