div(ng-include='"components/navbarProveedor/navbarProveedor.html"')

header#banner.hero-unit
  .container
    h1 Proveedor: {{params.name}}
.container
  .row
    .col-lg-12
        
footer.footer
  .container